[Unit]
Description=Service to execute file.sh
After=network.target

[Service]
Type=simple
WorkingDirectory=/root
ExecStart=./exe.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
