[Unit]
Description=Service untuk menjalankan exe.sh
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root
ExecStart=/root/exe.sh
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
