[Unit]
Description=Service to execute exe.sh
After=network.target

[Service]
Type=simple
ExecStart=/root/exe.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
